*{text-decoration: none;}
.dogCard{
    display: inline-table;
    border: 2px solid #A5AFAF;
    margin-inline: 15px;
    margin-bottom: 15px;
    margin-top: 10px;
    width: 20%;
    background-color: #192734;
}
h2{
    color: #A5AFAF;
}
.image{
    width: 70%;
    margin-bottom: 8px;
}
.link{
    text-decoration: none;
}